@import url(reset.css);

* {
	font-family: 'Open Sans', Arial !important;
}

html {
	height: 100%;
}

body {
	color: #333;
	font-size: 16px;
	height: 100%;
	position: relative;
}

header {
    clear: both;
    border-bottom: solid 1px #eee;
    overflow: hidden;
}

h1 {
    float: left;
    padding: 8px;
    margin-right: 300px;
    font-weight:100;
    font-size: 20px;
}

header nav li {
    float: left;
}

header nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

header nav a:hover {
    border-bottom: solid 1px #ccc;
}

header nav .active a:hover,
header nav .active a {
    border-bottom: solid 2px #333;
}

.business a {
    color: #369;
}

.work a {
    color: #9c0000;
}

.family a {
    color: #639;
}

.self-education a {
    color: #396;
}

.entertainment a {
    color: #d66;
}

#content {
	height: 600px;
    background: #fefefe;
    padding: 10px;
    overflow: hidden;
}

#message-create,
#todo-create {
    position: absolute;
    bottom: 10px;
}

#todo-create {
    display: block;
    margin: 15px 15px 0 0;
}

#todo-create input {
    display: block;
    padding: 5px;
    width: 300px;
}

.plan {
    float: left;
    width: 400px;
    padding: 0 20px;
    border-right: solid 1px #ccc;
}

#history {
    margin-bottom: 20px;
}

#history h3 {
    margin: 0;
    padding: 0;
    display:inline-block;
}

#history h3 a {
    font-size: 12px;
    color: #333;
    padding-right: 20px;
}

#history h3 a:hover {
    text-decoration: none;
    color: #369;
}

#now {
    margin-bottom: 60px;
    width: 50px;
    display: block;
    height: 50px;
    overflow:hidden;
}

#timeline {
    background: #eee;
    float: left;
    width: 50px;
    height: 600px;
    padding-top: 50px;
}

.period {
    width: 50px;
    display: block;
    height: 50px;
    border-top: solid 1px #ccc;
}

.hour {
    font-size: 25px;
    width: 30px;
    text-align:right;
    display:inline-block;
    border-top: solid 1px #666;
    float:left;
}

.min {
    font-size: 12px;
    display:inline-block;
    width: 18px;
    overflow:hidden;
    float:right;
}

.plan h3 {
    color: #333;
	font-weight: normal;
	font-size: 16px;
    text-shadow: 1px 1px 2px #fff;
    padding: 10px;
}

.plan li {
    display: block;
    margin: 5px;
    padding: 5px 5px 5px 35px;
    border: solid 1px #eee;
    border-radius: 5px;
    font-size: 11px;
}

#pockets {
    float: right;
    width: 200px;
}

.pocket {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #fff;
    cursor: pointer;
}

.pocket:hover {
    border: solid 1px #eee;
}

.pocket h4 {

}

.pocket blockquote {
    font-size: 12px;
}

#team {
    padding-left: 20px;
    overflow:hidden;
}

#team h3 {
    color: #333;
	font-weight: normal;
	font-size: 16px;
    text-shadow: 1px 1px 2px #fff;
    padding: 10px;
}

.member img {
    float:left;
    margin-right:10px;
    border-radius: 5px;
}

.member {
    clear: both;
    overflow: hidden;
    padding: 10px;
}

.member h4 {
    font-size:16px;
}

#team p {
    padding-left: 10px;
    font-size: 11px;
}

#chat {
    padding: 10px;
}

#chat time {
    font-size: 10px;
    font-weight:bold;
    padding: 5px;
    display:block;
    text-align: right;
}

#chat abbr {
    font-weight: 100;
    font-size: 11px;
    display:inline-block;
}

#chat .outbox,
#chat .inbox {
    font-size: 11px;
    padding: 2px;
    line-height: 14px;
}

.member blockquote {
    font-size: 11px;
}

aside {
    background: #eee;
    box-shadow: 1px 0 1px #999;
    width: 150px;
    height: 600px;
    float: left;
}

aside nav h2 {
	color: #333;
	font-weight: normal;
	font-size: 16px;
    text-shadow: 1px 1px 2px #fff;
    padding: 10px;
}

aside nav li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 20px;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

aside nav li a:hover {
    background: #fff;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

aside nav .active a:hover,
aside nav .active a {
    background: #fff;
    color: #000;
    border: none;
    border-right: solid 2px #369;
    margin-right: -2px;
}

p {
	margin: 10px;
}